$primary-background-color: black;
$secondary-background-color: #272727;
$font-color: #808080;
$alt-text-color: #bfbfbf;
$link-color: white;
$border-color: #333333;
$secondary-border-color: #3d3d3d;
$quiet-color: #4d4d4d;

$min-width: 65 em;
$max-width: 85 em;
$margin: 10%;

$header-color: $alt-text-color;
$link-hover-color: $link-color;
$link-visited-color: $link-color;
