@import "partials/base";
@import "blueprint/colors";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/lists/bullets";

body {
  header, #container, aside, footer {
    padding: 2em $margin;
    min-width: $min-width;
    max-width: $max-width;
  }

  header, #container {
    background-color: $primary-background-color;
  }
  aside, footer {
    background-color: $secondary-background-color;
  }

  a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
  }
}

//////////////////////////
//                      //
//        Header        //
//                      //
//////////////////////////
$search-box-width: 200px;
#title {
  h1 {
    color: white;
    border-right: 1px solid ($border-color * 2);
    float: left;
    font-size: 2.25em;
    margin: 0 0.5em 0 0;
    padding: 0 0.5em 0.25em 0;
    font-variant: small-caps;
  }
  h2 {
    font-size: 1.25em;
    padding-top: 0.25em;
  }
  width: 100%;
  margin-right: -$search-box-width;
}

#search form {
  float: right;
  margin: 1em 0 0;
  text-align: right;
  width: $search-box-width;
  input {
    width: floor(7 * $search-box-width / 8) - 12px;
    padding: 0;
    &[type=submit] {
      width: ceil($search-box-width / 8);
      margin-right: 0;
      border: 0;
      color: transparent;
      background: url("/images/search.gif") no-repeat center transparent;
    }
  }
}

//////////////////////////
//                      //
//        More          //
//                      //
//////////////////////////
article h1, section h1 {
  font-size: 1.15em;
  color: $font-color + #4c4c4c;
  margin-bottom: 1.5em;
}

//////////////////////////
//                      //
//        Main          //
//                      //
//////////////////////////
#container {
  article {
    width: 48%;
    margin-left: 4%;

    &:first-child {
      margin: 0;
    }

    h1 a {
      border-bottom: 1px dotted $border-color;
    }

    section {
      text-align: justify;
      $line-height: 1.75em;
      line-height: $line-height;
      max-height: 12 * $line-height;
      overflow: hidden;
    }

    ul.meta {
      @include horizontal-list(0.5em, right);
      font-size: 0.95em;
      color: $quiet-color;
      border-top: 1px solid $border-color;
      padding: 0.5em;
      margin-top: 0.5em;
      li {
        border-left: 1px solid $border-color;
        line-height: 0.8em;
        &:first-child {
          border-left: none;
        }
      }
    }
  }
}

//////////////////////////////
//                          //
//        Ancillary         //
//                          //
//////////////////////////////
aside {
  color: $alt-text-color;
  section {
    width: 30%;
    margin-left: 5%;
    &:first-child {
      margin-left: 0;
    }
  }
  h1 {
    color: white;
  }

  ul {
    @include no-bullets;
    padding-left: 0;
    border-top: 1px solid $secondary-border-color;
  }

  li {
    border-bottom: 1px solid $secondary-border-color;
    padding: 0.5em 0;
    a:hover, a:hover span {
      color: white;
    }
  }

  span.date {
    color: $font-color;
    padding-right: 1.5em;
  }
}
